@page "/search"
@rendermode InteractiveAuto

@using Pythia.Core
@using Pythia.Web.Shared.Services
@inject IIndexRepository Repository
@inject IQueryPythiaFactoryProvider FactoryProvider
@inject ILogger<Search> Logger

<h3>Search</h3>

<RadzenCard>
    <RadzenText>query</RadzenText>
    <RadzenTextBox Placeholder="query"
        Style="width: 100%" aria-label="Search query" 
        Value="@Query"
        @oninput="@(args => Query = args.Value?.ToString())"/>

    <RadzenButton Text="Search" Click="@(args => OnSearch())"
                  ButtonStyle="ButtonStyle.Primary"
                  Disabled="@string.IsNullOrWhiteSpace(Query)" />
</RadzenCard>

@if (CurrentPage != null)
{
    <RadzenDataGrid TItem="KwicSearchResult"
                    Count="@CurrentPage.Total"
                    Data="@CurrentPage.Items"
                    LoadData="@LoadData"
                    AllowFiltering="false"
                    AllowPaging="true">
        <Columns>
            <!-- buttons column -->
            <RadzenDataGridColumn>
                <Template Context="data">
                    <RadzenButton Icon="search" ButtonStyle="ButtonStyle.Secondary"
                                   />
                    <!-- Click="@(args => OnView(data as KwicSearchResult))" -->
                    <!-- TODO buttons -->
                </Template>
            </RadzenDataGridColumn>
            <!-- author -->
            <RadzenDataGridColumn Property="@nameof(KwicSearchResult.Author)"
                                  Title="author" />
            <!-- title -->
            <RadzenDataGridColumn Property="@nameof(KwicSearchResult.Title)"
                                  Title="title" />
            <!-- left context -->
            @for (int i = 0; i < ContextSize; i++)
            {
                int index = i;
                <RadzenDataGridColumn Title="@($"-{ContextSize - index}")"
                                      Sortable="false"
                                      Filterable="false">
                    <Template Context="data">
                        @((data as KwicSearchResult).LeftContext[index])
                    </Template>
                </RadzenDataGridColumn>
            }
            <!-- text -->
            <RadzenDataGridColumn Property="@nameof(KwicSearchResult.Text)"
                                  Title="text" />
            <!-- right context -->
            @for (int i = 0; i < ContextSize; i++)
            {
                int index = i;
                <RadzenDataGridColumn Title="@($"{index + 1}")"
                                      Sortable="false"
                                      Filterable="false">
                    <Template Context="data">
                        @((data as KwicSearchResult).RightContext[index])
                    </Template>
                </RadzenDataGridColumn>
            }
        </Columns>
    </RadzenDataGrid>
}